#datepickerInput {
    border: solid grey 1px;
    width: 400px !important;
    font-size: 24px;
    color: grey;
}

#appointmentTable {
    height: 350px !important;
    overflow: scroll;
    overflow-x: hidden
}

.modalFooter {
    display: block !important;
}

.react-datepicker__header {
    background-color: #66a4fa;
}

.react-datepicker__current-month {
    color: white;
}

.react-datepicker__day-name {
    color: white;
}
/*--------------------------------------------------------------
## Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    /*src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');*/
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    /*src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../fonts/Roboto-Light.woff') format('woff');*/
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    /*src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../fonts/Roboto-Thin.woff') format('woff');*/
    font-style: normal;
}

.photo{
    height: 100px;
    width: 100px
}
/*--------------------------------------------------------------
## Reset
--------------------------------------------------------------*/
body,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button,
input {
    border: 0;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    cursor: pointer;
}

    button:active,
    button:focus,
    input:focus {
        outline: none;
    }


/*--------------------------------------------------------------
## Main
--------------------------------------------------------------*/
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.page-wrap {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main {
    display: block;
    padding: 20px 0;
}

.wrap {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 30px;
}

.align-right {
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .wrap {
        padding: 0 15px;
    }
}


/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
.header {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #66a4fa no-repeat left bottom;
    background-size: cover;
}

.header-blockquote {
    max-width: 520px;
    /*margin-left: auto;*/
    padding: 40px 0;
    text-align: left;
}

.header-quote {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #fff;
    font-size: 46px;
    font-weight: 300;
}

.header-cite {
    color: #fff;
    font-size: 30px;
    font-weight: 100;
}

.header-inner {
    background-color: rgba(211, 67, 27, 0.5);
}

    .header-inner .logo {
        position: absolute;
        top: 0;
        right: 100px;
        height: 100%;
        opacity: 0.1;
    }

@media only screen and (max-width: 600px) {
    .header-quote {
        font-size: 30px;
    }

    .header-cite {
        font-size: 25px;
    }

    .header-inner .logo {
        right: 20px;
    }
}


/*--------------------------------------------------------------
## Date
--------------------------------------------------------------*/
.date-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 35px 0;
}

    .date-wrap time {
        display: block;
        margin-left: 40px;
        color: #fff;
        font-size: 23px;
        font-weight: 300;
    }

    .date-wrap .icon {
        width: 25px;
        height: 25px;
    }

@media only screen and (max-width: 600px) {
    .date-wrap time {
        margin-left: 20px;
        font-size: 20px;
    }
}

.custom-modal-style {
    width: 1500px;
    height: 802px;
}


/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer {
    margin-top: auto;
    padding: 20px 0;
    background-color: #333;
    text-align: center;
}

    .footer .copy {
        display: block;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }


/*--------------------------------------------------------------
## Form
--------------------------------------------------------------*/
.field-wrap {
    margin: 20px 0 40px;
}

.field {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    color: #999;
    font-size: 20px;
}

.field-date {
    width: 45% !important;
    display: inline !important;
}

.field-end {
    float: right;
}

.label {
    display: block;
    color: #999;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.label-data {
    display: block;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.label-date {
    display: inline !important;
    right: 0;
}

.label-end {
    float: right;
    text-align: center;
    margin-top: 15px;
}

.label-referral{
    margin-left: 20px
}

@media only screen and (max-width: 600px) {
    .field-wrap {
        margin: 15px 0 20px;
    }

    .field {
        padding: 10px;
        font-size: 20px;
    }
}


/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
/*/.btn {
    padding: 15px 35px;
    transition: 350ms ease-in-out;
    background-color: #ed5928;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

    .btn:hover {
        background-color: #d3431b;
    }

.btn-icon {
    display: block;
    cursor: pointer;
}

    .btn-icon .icon {
        width: 45px;
        height: 45px;
        transform: scale(1);
        backface-visibility: hidden;
        transition: 350ms ease-in-out;
    }

        .btn-icon .icon:hover {
            transform: scale(1.1);
        }

@media only screen and (max-width: 600px) {
    .btn {
        padding: 15px 25px;
        font-size: 18px;
    }
}

*
/*--------------------------------------------------------------
## Checkflag Item
--------------------------------------------------------------*/
.item-row {
    margin: 20px 0;
    position: relative;
}

.check-flag {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px 30px;
    transition: 350ms ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.small-text-label-wrapper{
    display:block;
    position:relative;
}

.small-text-label {
    position: absolute;
    top: 10px;
    color: #999;
    text-transform: uppercase;
    font-size: 11px;
}

    .small-text-label.hours {
        right: 37px;
        font-size: 14px;
    }

.total {
    float: left;
    width: 100%;
    padding-right: 20px;
}

.total-label {
    color: #999;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.total-input {
    color: #999;
    border-bottom: 1px solid #999;
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    text-align: center;
}

.check-flag:hover {
    background-color: #f9f9f9;
}

.check-flag-label {
    color: #666;
    font-size: 25px;
    font-weight: 300;
}

.check-flag-textarea {
    color: #666;
    font-size: 25px;
    font-weight: 300;
    width:600px;
    resize: none;
    background: white;
}

.hours-box {
    width: 50px;
    height: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #999;
}

.checkmark {
    display: block;
    position: relative;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    padding: 3px;
    transition: 350ms ease-in-out;
    border: 2px solid #999;
    border-radius: 3px;
}

    .checkmark .checkmark-icon {
        transition: 350ms ease-in-out;
        stroke: white;
        stroke-width: 3px;
        stroke-dashoffset: 30;
        stroke-dasharray: 30;
    }

@media only screen and (max-width: 600px) {
    .check-flag {
        padding: 30px 20px 20px;
    }

    .check-flag-label {
        font-size: 15px;
    }

    .small-text-label.hours {
        right: 25px;
    }
}
/*--------------------------------------------------------------
## Modal
--------------------------------------------------------------*/
/*.modal-wrap {
    display: flex;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 350ms ease-in-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    position: relative;
    width: 100%;
    max-width: 700px;
    padding: 50px 40px;
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

    .modal h2 {
        margin-top: 0;
        margin-bottom: 1em;
        color: #666;
        font-size: 30px;
        font-weight: 300;
    }

.modal-wrap.is-visible {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .modal {
        padding: 30px 20px;
    }

        .modal h2 {
            font-size: 20px;
        }
}
*/
/*--------------------------------------------------------------
## radio
--------------------------------------------------------------*/
input[type="radio"] {
    margin-right: 70px;
    margin-left: 1px;
    padding: 1px
}
